.navigation {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2);
    left: 0px;
}